{{!-- <!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{pageTitle}}</title>
    </head>
   
     <body>
         {{>header}}
         <p>{{screamIt welcomeMessage}}</p>
         {{>footer}}
     </body>
</html> --}}
<html><head><link href="Default.css" rel="stylesheet"><title>

</title>
	<link href="Registration.css" rel="stylesheet">
    <style>
        table, th, td{
            border: 1px solid black;
        }
    </style>
</head>
<body>	
    <form method="post" action="./Registration.aspx" id="form1">
<div class="aspNetHidden">
<input type="hidden" name="__VIEWSTATE" id="__VIEWSTATE" value="/wEPDwUKMTY1NDU2MTA1MmRk8Sd6PQs92739a05oRclGS97nNfK2tv3gD9YlQ+B+S6M=">
</div>

<div class="aspNetHidden">

	<input type="hidden" name="__VIEWSTATEGENERATOR" id="__VIEWSTATEGENERATOR" value="0E6B69E9">
</div>
		<div class="headdiv">
			<img src="pmec_logo.jpg" style="position:absolute ; top:2vw; left:2vw; height:12vw; width:12vw; border-radius:8vw;">
			<img src="opslogo.jpg" style="position:absolute ; top:2vw; right:2vw; height:12vw; width:12vw; border-radius:8vw;">
			
			<h1>INTERNATIONAL SEMINAR ON <br>
				"EMERGING TRENDS IN PHYSICS &amp; APPLICATIONS"<br>
				(ISETPA - 2019) <br>
				 &amp; 
				<br>36<sup>th</sup> CONVENTION OF <br>
				ORISSA PHYSICAL SOCIETY (OPS)</h1>		
			<h3>			
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				&nbsp;&nbsp;&nbsp;
				Date : 2<sup>nd</sup> - 4<sup>th</sup> February 2019 
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				
				Venue : Parala Maharaja Engineering College	
				<br>
				<br>Organized By :- Department of Physics				
			</h3>
			<marquee style="padding:5px; color:lavender; font-size:1.5vw;">1. All papers should be presented in poster(Poster size:95cm x 95cm).&nbsp;2. Best Poster Award will be awarded to one participant. 3. Limited Oral Talks ~ 8+2 minutes </marquee>
		</div>
        <div class="navdiv">
			<nav role="navigation">
				<ul class="navbar">
					<li class="navbarlist">
						<a href="Default.aspx">
							<strong class="small">Home</strong>
						</a>
					</li>
					<li class="navbarlist">
						<a href="About.aspx">
							<strong class="small">About</strong>
						</a>
					</li>
					<li class="navbarlist">
						<a href="Call For Papers.aspx">
							<strong class="small">Call For Papers</strong>
						</a>
					</li>
					<li class="navbarlist">
						<a href="Registration.aspx">
							<strong class="small">Registrations</strong>
						</a>
					</li>
					<li class="navbarlist">
						<a href="Downloads.aspx">
							<strong class="small">Downloads</strong>
						</a>
					</li>
					<li class="navbarlist">
						<a href="Committee.aspx">
							<strong class="small">Committee</strong>
						</a>
					</li>
					<li class="navbarlist">
						<a href="Speakers.aspx">
							<strong class="small">Speakers</strong>
						</a>
					</li>
					<li class="navbarlist">
						<a href="Visa.aspx">
							<strong class="small">Visa</strong>
						</a>
					</li>
					<li class="navbarlist">
						<a href="Accomodation.aspx">
							<strong class="small">Accomodation</strong>
						</a>
					</li>
					<li class="navbarlist">
						<a href="Contact.aspx">
							<strong class="small">Contact Us</strong>
						</a>
					</li>					`					
				</ul>
			</nav>
        </div>		
		
		<div>		
        
	<br><br>
    <div class="middle-head" style="font-size:30px;"><p>REGISTRATION FEE DETAILS</p></div>
    <div style="text-align:center; font-size:23px; height:100%; overflow:auto; background-color:darkseagreen;"> 
		<br>
        <div><u><b> FEE FOR SEMINAR </b></u></div>
        <br>
        <table style="text-align:left;margin-left:37%;">
            <tbody><tr>
                <th style="text-align:center;"><b><b>CATEGORY</b></b></th>
                <th style="text-align:center;"><b><b>AMOUNT</b></b></th>
            </tr>
            <tr>
                <td>International Delegates</td>
                <td>$ 50</td>
            </tr>
			 <tr>
                <td>National Delegates</td>
                <td>Rs. 1000/-</td>
            </tr>
            <tr>
                <td>Students</td>
                <td>Rs. 500/-</td>
            </tr>
        </tbody></table>
        <br>
        <div style="text-align:justify; margin-left:10%; margin-right:10%;">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			Registration fee covers seminar kit, proceedings, certificate, refreshments, 
            lunch and dinner. All payments should be made through online mode (RTGS/NEFT) 
            to the following bank details. (Name-<u>ISETPA AND OPS 2019</u>, Account No.-<u>79982250000963</u>, 
            Name of the bank-<u>Syndicate Bank</u>, Branch-<u>PMEC Campus, Sitalapalli</u>, <u>IFSC Code-SYNB0007998</u>, 
            MICR Code-<u>761025509</u>) or spot registration.
        </div>
        <br>
        <div><u><b> FEE FOR OPS MEMBERSHIP </b></u></div>
        <br>
        <table style="text-align:left;margin-left:22%;">
            <tbody><tr>
                <th style="text-align:center;"><b><b>CATEGORY</b></b></th>
                <th style="text-align:center;"><b><b>AMOUNT</b></b></th>
            </tr>
            <tr>
                <td>OPS Life Membership Fee</td>
                <td>Rs. 1000/-</td>
            </tr>
            <tr>
                <td>OPS Patron Membership Fee</td>
                <td>Rs. 3000/-</td>
            </tr>
            <tr>
                <td>Fee for up gradation from Life Membership to Patron Membership </td>
                <td>Rs. 2000/-</td>
            </tr>
        </tbody></table>
        <br>
        <div style="text-align:justify; margin-left:10%; margin-right:10%;">
            <p>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                Kindly bring this circular to the notice of all your colleagues requesting them to join OPS 
                as its member to strengthen it.<br>
                Application form for enrollment as Life Member or Patron Member can be downloaded from the 
                OPS website <a href="www.orissaphysicalsociety.org">www.orissaphysicalsociety.org</a> . Completed application along with membership fee 
                (Through A/C payee cheque / Bank Draft in favour of Orissa Physical Society payable at Bhubaneswar) 
                may be sent to any one of the following preferably by registered post / speed post.
            </p>
        </div>
        <br>
        
		<div>
			<div class="leftleft">
				<p><b>Prof. Naresh Chandra Mishra</b><br>President OPS<br>Department of Physics,<br>Utkal University, Bhubaneswar-751004<br>
					Mob: +91-9437889778<br>E-mail:nareshcmishra@gmail.com
				</p>
			</div>
			<div class="rightright">
				<p><b>Dr. Benudhar Nayak</b><br>Secretary OPS<br>Department of Physics,<br>Utkal University, Bhubaneswar-751004<br>
					Mob: +91-9437353658<br>E-mail:bnayak@gmail.com<br>
				
			</p></div>
		</div>
    </div>
    <div class="middle-head" style="font-size:30px;"><p>SUBMISSION OF ARTICLES</p></div>
    <div style="background-color:darkseagreen; font-size:23px; height:100%; overflow:auto;">
		<div style=" text-align:justify; margin-left:10%; margin-right:10%;">
        <p>1.	Research/Review Articles in the field of Physics for publication in the proceedings of the 
            seminar <u>(Maximum 4 typed pages in A4 size paper, Times New Roman, Font size-12, line spacing-1.5)</u> may be 
            sent in MS word mode to Dr. S. Mishra through <br>E-mail: convenor@isetpa.in / satrujitmishra@gmail.com.
        <br>2.	Abstract of original papers not more than 300 words for oral and poster presentation should be 
            submitted online to the convenor by the above mentioned E-mails. The presenting author(s) name should be underlined. 
              At least one of the authors should register for the symposium. The paper(s) received without the 
            registration fee will not be included in the seminar programme/journal proceedings.
        </p>
		</div>
    </div>

    </div>		
		<footer>ISETPA 2019</footer>
    </form>


</body></html>